<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <link
      rel="shortcut icon"
      type="image/png"
      href="../../Images/favicon.png"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Random Choice Picker</title>
  </head>
  <body>
    <a class="back-button" href="../../index.html">Back</a>
    <div class="container">
      <h1 class="title">Choice Picker</h1>
      <h2 class="subtitle">
        Enter all of the choices divided by a comma (','). <br />
        Press ENTER when you're done.
      </h2>
      <textarea id="textarea" placeholder="Enter choices here..."></textarea>
      <div class="choices">


    </div>

    <script src="./script.js"></script>
  </body>
</html>
