:root {
    --card-color: #f5f5f5;
    --background-color: #007CC7;
    --heading-color: #12232E;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-color: var(--background-color);
    font-family: "Poppins", sans-serif;
}

main {
    padding: 3rem;
}

.title {
    font-size: 3rem;
    color: rgb(203, 229, 250);
    padding: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

.projects {
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 2.5fr);
    grid-template-rows: repeat(400px, 20);
    grid-gap: 40px
}

.project--link {
    text-decoration: none;
}

.project--card {
    max-width: 400px;
    min-height: 340px;
    position: relative;
    overflow: hidden;
    background-color: var(--card-color);
    border-radius: 15px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.1), 2px 3px 6px rgba(0, 0, 0, 0.3);
    color: var(--heading-color);
    text-align: center;
}

.project--card:hover {
    transform: scale(0.98);
}

.project--img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid var(--background-color);
    
}

.project--title {
    width: 100%;
    white-space: nowrap;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0.5rem;
    color: var(--heading-color);
}

.project--description {
    padding: 1rem;
    font-size: 1rem;
    color: var(--heading-color);
}




@media (max-width: 1350px) {
    .projects {
        grid-template-columns: repeat(3, 3fr);
    }

    .project--title {
        font-size: 1.2rem;
    }
}


@media (max-width: 900px) {
    .projects {
        font-size: 0.7rem;
        grid-template-columns: repeat(2, 5fr);
}

@media (max-width: 680px) {
    .title {
        font-size: 1.3rem;
    }
    .projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}



