<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="shortcut icon" type="image/png" href="./Images/favicon.png?" />
    <link rel="stylesheet" href="style.css" />
    <title>FAQ</title>
  </head>
  <body>
    <a class="back-button" href="../../index.html">Back</a>
    <h1>Frequently Asked Questions</h1>
    <div class="faq-container">
      <div class="faq">
        <h2 class="faq-question">Do I need to set up an account?</h2>
        <button class="faq-toggle">
          <i class="fa-solid fa-chevron-down"></i>
          <i class="fa-solid fa-chevron-up"></i>
        </button>
        <p class="faq-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi a
          cupiditate impedit, vero dolores suscipit officiis tenetur.
        </p>
      </div>
      <div class="faq">
        <h2 class="faq-question">I've forgotten my password</h2>
        <button class="faq-toggle">
          <i class="fa-solid fa-chevron-down"></i>
          <i class="fa-solid fa-chevron-up"></i>
        </button>
        <p class="faq-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi a
          cupiditate impedit, vero dolores suscipit officiis tenetur. Sit,
          consequatur beatae?
        </p>
      </div>
      <div class="faq">
        <h2 class="faq-question">What payment methods do you accept?</h2>
        <button class="faq-toggle">
          <i class="fa-solid fa-chevron-down"></i>
          <i class="fa-solid fa-chevron-up"></i>
        </button>
        <p class="faq-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi a
          cupiditate impedit, vero dolores suscipit officiis tenetur.
        </p>
      </div>
      <div class="faq">
        <h2 class="faq-question">
          How do I redeem a discount or special offer?
        </h2>
        <button class="faq-toggle">
          <i class="fa-solid fa-chevron-down"></i>
          <i class="fa-solid fa-chevron-up"></i>
        </button>
        <p class="faq-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi a
          cupiditate impedit, vero dolores suscipit officiis tenetur. Sit,
          consequatur beatae?
        </p>
      </div>
      <div class="faq">
        <h2 class="faq-question">How do I change my account details?</h2>
        <button class="faq-toggle">
          <i class="fa-solid fa-chevron-down"></i>
          <i class="fa-solid fa-chevron-up"></i>
        </button>
        <p class="faq-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi a
          cupiditate impedit, vero dolores suscipit officiis tenetur. Sit,
          consequatur beatae?
        </p>
      </div>
    </div>

    <script src="./script.js"></script>
  </body>
</html>
