<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="../../Images/favicon.png"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Incrementing Counter</title>
  </head>
  <body>
    <a class="back-button" href="../../index.html">Back</a>
    <div class="card">
      <i class="fa-brands fa-twitter icon"></i>
      <div class="number" id="twitter-num" data-number="5000"></div>
      <span class="subtext">Twitter Followers</span>
    </div>
    <div class="card">
      <i class="fa-brands fa-youtube icon"></i>
      <div class="number" id="yt-num" data-number="1200"></div>
      <span class="subtext">Youtube Subscribers</span>
    </div>
    <div class="card">
      <i class="fa-brands fa-facebook icon"></i>
      <div class="number" id="fb-num" data-number="7000"></div>
      <span class="subtext">Facebook Fans</span>
    </div>

    <script src="./script.js"></script>
  </body>
</html>
